.window {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
  gap: 10px;
  align-items: start;
}

.scrollable {
  margin-top: 0px;
  margin-bottom: 0px;
}

.timeline td {
  border: 0px;
  margin: 0px;
  padding: 2.5px;
  margin-bottom: 0px;
  vertical-align: top;
}

.window-portrait {
  width: 200px;
  max-width: 100%;
  height: auto;
}

.no-margin {
  margin-top: 0px;
}

.news-box td {
  border: 0px;
  margin: 0px;
  padding: 2.5px;
  margin-bottom: 0px;
  vertical-align: top;
}

hr {
  margin: 0px;
}

.mobile {
  display: none;
}

@media screen and (max-width: 640px) {
  .window {
    grid-template-columns: 1fr;
  }

  .full {
    display: none;
  }

  .mobile {
    display: block;
    margin-top: 0px;
  }

  .portrait {
    width: 100%;
    justify-items: center;
    margin-bottom: 40px;
  }
}
