.window {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
  gap: 10px;
  align-items: start;
}

.scrollable {
  margin-top: 0px;
  margin-bottom: 0px;
}

.timeline td {
  border: 0px;
  margin: 0px;
  padding: 2.5px;
  margin-bottom: 0px;
  vertical-align: top;
}

.window-portrait {
  width: 200px;
  max-width: 100%;
  height: auto;
}

.no-margin {
  margin-top: 0px;
}

hr {
  margin: 0px;
}

.mobile {
  display: none;
}

.news-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.news-title hr {
  width: 100%;
  display: inline;
}

.news {
  border: 0px;
  margin: 0px;
  padding: 2.5px;
  margin-bottom: 0px;
  vertical-align: top;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .window {
    grid-template-columns: 1fr;
  }

  .news {
    flex-direction: column;
  }

  .portrait {
    width: 100%;
    justify-items: center;
    margin-bottom: 40px;
  }
}
