.title {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.name {
  width: 30vw;
}

.nav {
  margin-top: 0;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
}

.header-table td {
  align-content: center;
}

.header-table {
  margin: 0px;
}

@media screen and (max-width: 787px) {
  .header-table tr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .header-table td {
    display: block;
    flex: 1 1 0;
    margin-top: 0;
    text-align: center;
  }

  .header-table td:first-child {
    flex: 0 0 100%;
    text-align: center;
    border-bottom: 0px;
  }

  .header-table h1 {
    overflow-wrap: anywhere;
  }
}
