.p-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.p-tag {
 font-size: 20px;
 margin-bottom: 20px;
 text-decoration: underline;
 font-weight: bold;
}

.slug {
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 0px;
}

.content {
  margin-top: 5px;
}

.p-card {
  margin-bottom: 10px;
}

summary {
  font-size: 14px;
  padding: 0px;
}
