.p-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.p-tag {
 font-size: 20px;
 margin-bottom: 20px;
 text-decoration: underline;
 font-weight: bold;
}

.slug {
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 0px;
  opacity: 70%;
}

.content {
  margin-top: 5px;
}

.p-card {
  margin-bottom: 40px;
}

summary {
  font-size: 14px;
  padding: 0px;
}

@media (max-width: 700px) {
  .p-title {
    flex-direction: column;
    align-items: flex-start;
  }

  .slug {
    margin: 0px;
  }
}
