.p-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slug {
  margin-top: 0px;
  margin-left: 10px;
}

.p-card {
  margin-bottom: 19px;
}

summary {
  font-size: 14px;
  padding: 0px;
}
